* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: monospace;
  overflow: hidden;
}

#main {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1603437873662-dc1f44901825?q=80&w=1170&auto=format&fit=crop");
  background-size: cover;
  background-position: center;
  position: relative;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5%;
  color: white;
  width: 100%;
  position: relative;
  z-index: 10;
}

i {
  color: white;
}

#full {
  height: 100%;
  width: 40%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
}

#full h4 {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 500;
  color: white;
  margin-bottom: 10px;
}

#full i {
  position: absolute;
  top: 5%;
  right: 5%;
  /* background-color: white; */
  border-radius: 50%;
  padding: 5px;
  font-weight: 800;
  font-size: 25px;
}

#full {
  height: 100%;
  width: 40%;
  position: absolute;
  top: 0;
  right: -40%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
  transition: all ease 0.5s;
}

#nav i,
#full i {
  cursor: pointer;
}
