body {
  background-color: #111;
  color: white;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  text-align: center;
}
h1 {
  color: #88ce02;
  margin-bottom: 10px;
}
p {
  opacity: 0.8;
  margin-bottom: 30px;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
}
.btn {
  padding: 15px;
  background: #222;
  border: 1px solid #444;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}
.btn:hover {
  background: #88ce02;
  color: black;
  font-weight: bold;
}
.note {
  margin-top: 40px;
  font-size: 0.8rem;
  color: #ff4444;
}
