* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b0b0b;
  color: white;
  font-family: monospace;
  overflow-x: hidden;
}

#cursor {
  height: 20px;
  width: 20px;
  background-color: #88ce02;
  border-radius: 50%;
  position: fixed;
  pointer-events: none; /* Crucial so it doesn't block clicks */
  z-index: 999;
}

#string-container {
  position: relative;
  width: 100%;
  height: 200px;
}

#nav {
  position: absolute;
  top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  z-index: 10;
}

#hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero h1 {
  font-size: 10vw;
  line-height: 0.9;
}

#sidebar {
  position: fixed;
  top: 0;
  right: -40%;
  width: 40%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  padding-left: 5%;
  z-index: 100;
}

.links a {
  display: block;
  color: white;
  font-size: 4vw;
  text-decoration: none;
  margin: 20px 0;
}
