* {
  margin: 0;
  padding: 0;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: x-large;
}
body {
  background-color: black;
}
#navbar {
  height: 20vh;
  width: 100%;
  /* background-color: bisque; */
  background-color: black;
}

#string {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  max-width: 90%;
  border: 1px dashed white;
}
